.button{
  font-size: 16px;
  border: none;
  outline: none;

  &--close{
    background: #c2e1ff;
    position: absolute;
    top: 10px;
    right: 20px;
  }

  &--post{
    margin-left: 10px;
    display: block;
    background: #c2e1ff;
  }

  &--post-action{
    padding: 5px 10px;
  }

  &--post-action:hover{
    background: #4fa7ff;
  }

  &--auth{
    width: 200px;
    height: 2em;
    background: #c2e1ff;
  }
}