.modal{
  width: 300px;
  background: #c2e1ff;
  border: 3px dashed #3fa2ff;
  border-radius: 5px;
  padding: 10px 20px;
  z-index: 10;
  position: absolute;
  top: 30px;
  right: 30px;

  &--form{
    margin-top: 50px;
  }

  &--label{
    line-height: 10px;
    width: 256px;
  }

  &--img{
    max-width: 256px;
  }
}